## ignore stuff
HDRI/
.vs/
## Intermediate/AssetRegistryCache/
Saved/Config/CrashReportClient/
Saved/Logs/
Saved/Config/Windows/EditorPerProjectUserSettings.ini
*.log
*.log

Intermediate/Build/Win64/
Binaries/Win64/
